<%= form_with model: @question_form, url: url, method: method, id: 'new_question', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class='input-items'>
    <div class='input-youtube'>
      <%= f.text_field :youtube_url, placeholder: "youtube URL ※埋め込み用コードを使用下さい" %>
    </div>
    <div class="img-upload">
      <div class="weight-bold-text">動画(※youtube除く)</div>
      <div class="click-upload">
        <%= f.file_field :video, :accept => 'video/*' %>
      </div>
    </div>
    <div class='input-items__title'>
      <%= f.text_field :title, placeholder: "タイトル" %>
    </div>
    <div class='input-items__content'>
      <%= f.text_area :content, placeholder: "投稿内容" %>
    </div>
    <div class='input-items__name'>
      <%= f.text_field :name, placeholder: "投稿者名" %>
    </div>
    <div class='input-items__submit'>
      <%= f.submit 'POST'%>
    </div>
  </div>
<% end %>