<%= render "shared/header" %>

<div class="show-main">
  <div class="show-contents">
    <%# 質問内容の表示 %>
    <div class="show-question">
      <div class="show-question__title">
        <%= @question.title %>
      </div>
      <div class="show-question__content">
        <%= @question.content %>
      </div>
      <div class="show-question__name">
        <%= @question.name %>
      </div>
      <div class="good-times">Good! <%= @question.likes.count %></div>
        <% if current_user.already_liked?(@question) %>
          <%= button_to '取消', question_like_path(@question), method: :delete %>
        <% else %>
          <%= button_to 'Good!', question_likes_path(@question) %>
        <% end %>
      </div>
      <%# 回答投稿フォームの表示 %>
      <div class="show-answer-form">
        <%= form_with(model: [@question, @answer], url: question_answers_path(@question.id), method: :post, local: true) do |form| %>
        <div class="show-answer-form__heading">
          回答する
        </div>
        <div class="show-answer-form__content">
          <%= form.text_area :content, placeholder: "回答する", rows: "4" %>
        </div>
        <div class="show-answer-form__name">
          <%= form.text_field :name, placeholder: "投稿者名" %>
        </div>
        <div class="tag-form">
         <th>タグ</th>
         <td><%= @question.tags.first&.tag_name %></td>
       </div>
        <div class="show-answer-form__submit">
          <%= form.submit "POST" %>
        </div>
        <% end %>     
      </div>

      <div class="show-edit-form">
       <% if current_user.id == @question.user_id %>
        <%= link_to "編集", edit_question_path(@question.id) , method: :get, class: "question-red-btn" %>
        <%= link_to "削除", question_path(@question.id), method: :delete, class:"question-destroy" %>
       <% end %>
      </div>

      <%# 回答一覧の表示 %>
      <div class="show-answers">
        <div class="answers-heading">
          いままでの回答：
        </div>
        <% @answers.each do |answer| %>
          <div class="answer-content">
            <div class="answer-content__text">
              <%= answer.content %>
            </div>
            <div class="answer-content__name">
              <%= answer.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>

<%= render "shared/footer" %>